 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Full Program</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        The workshop will consolidate a Containers Platform as a Service (BioContainers), and the integration with other groups like Workflows & workbenches and Software tools (Bio.Tools).

                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        Topics: More metadata, Better integration: Biocontainers / Bioshadock / BioConda, Workflow systems such as Galaxy and CWL, Training Containers”
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/BioContainers/workshops/blob/master/README.md" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i>Check the Program
                    </a>
                </div>
            </div>
        </div>
    </section>